<div>
<input type="text" placeholder="Search for name" [(ngModel)]="ajay">
<table class="table table-border">
  <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>UserName</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of response | search:ajay" data-toggle="modal" data-target="#myModal" (click)="selectRow(i)">
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.username}}</td>
        <td>{{i.email}}</td>
      </tr>
    </tbody>
  
</table>
</div>
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        {{row | json}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

